@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
}
header, main, .footerInner {
    max-width: 1250px;
    margin: 0 auto;
}
nav a:active {
    background-color: transparent !important;
    color: #FF4240 !important;
}
.themeText {
    color: #FF4240;
}
.darkText {
    color: #131318;
}
.grayText {
    color: #13131899;
}
.themeBg {
    background-color: #FF4240;
}